.weather-icon-01n:before  {
  content: $night-clear;
  font-family: '#{$wi-font-family}';
  font-size: 3em;
}
.weather-icon-02n:before {
  content: $night-alt-cloudy;
  font-family: '#{$wi-font-family}';
  font-size: 3em;
}
.weather-icon-03n:before {
  content: $night-cloudy;
  font-family: '#{$wi-font-family}';
  font-size: 3em;
}
.weather-icon-04n:before {
  content: $night-partly-cloudy;
  font-family: '#{$wi-font-family}';
  font-size: 3em;
}
.weather-icon-09n:before {
  content: $night-alt-rain;
  font-family: '#{$wi-font-family}';
  font-size: 3em;
}
.weather-icon-10n:before{
  content: $night-alt-sprinkle;
  font-family: '#{$wi-font-family}';
  font-size: 3em;
}
.weather-icon-11n:before {
  content: $night-alt-lightning;
  font-family: '#{$wi-font-family}';
  font-size: 3em;
}
.weather-icon-13n:before {
  content: $night-alt-snow;
  font-family: '#{$wi-font-family}';
  font-size: 3em;
}
.weather-icon-50n:before{
  content: $night-fog;
  font-family: '#{$wi-font-family}';
  font-size: 3em;
}