%icon-styling {
	font-family: '#{$wi-font-family}';
	font-size: 1.5em;
	padding-right: 10px;
	color: $white;
}

.weather-icon-windy:before {
	content: $strong-wind;
	font-family: '#{$wi-font-family}';
	@extend %icon-styling;
}

.weather-icon-alien:before {
	content: $alien;
	@extend %icon-styling;
}

.weather-icon-celsius:before {
	content: $celsius;
	@extend %icon-styling;
}
.weather-icon-fahrenheit:before {
	content: $fahrenheit;
	@extend %icon-styling;
}
.weather-icon-degrees:before {
	content: $degrees;
	@extend %icon-styling;
}
.weather-icon-thermometer:before {
	content: $thermometer;
	@extend %icon-styling;
}
.weather-icon-thermometer-exterior:before {
	content: $thermometer-exterior;
	@extend %icon-styling;
}
.weather-icon-thermometer-internal:before {
	content: $thermometer-internal;
	@extend %icon-styling;
}
.weather-icon-cloud-down:before {
	content: $cloud-down;
	@extend %icon-styling;
}
.weather-icon-cloud-up:before {
	content: $cloud-up;
	@extend %icon-styling;
}
.weather-icon-cloud-refresh:before {
	content: $cloud-refresh;
	@extend %icon-styling;
}
.weather-icon-horizon:before {
	content: $horizon;
	@extend %icon-styling;
}
.weather-icon-horizon-alt:before {
	content: $horizon-alt;
	@extend %icon-styling;
}
.weather-icon-sunrise:before {
	content: $sunrise;
	@extend %icon-styling;
}
.weather-icon-sunset:before {
	content: $sunset;
	@extend %icon-styling;
}
.weather-icon-moonrise:before {
	content: $moonrise;
	@extend %icon-styling;
}
.weather-icon-moonset:before {
	content: $moonset;
	@extend %icon-styling;
}
.weather-icon-refresh:before {
	content: $refresh;
	@extend %icon-styling;
}
.weather-icon-refresh-alt:before {
	content: $refresh-alt;
	@extend %icon-styling;
}
.weather-icon-umbrella:before {
	content: $umbrella;
	@extend %icon-styling;
}
.weather-icon-barometer:before {
	content: $barometer;
	@extend %icon-styling;
}
.weather-icon-humidity:before {
	content: $humidity;
	pading-left: 2px;
	@extend %icon-styling;
}
.weather-icon-na:before {
	content: $na;
	@extend %icon-styling;
}
.weather-icon-train:before {
	content: $train;
	@extend %icon-styling;
}