	$l-font: 3.5em;
	
	.weather-icon-01d:before {
		content: $day-sunny;
		font-family: '#{$wi-font-family}';
		font-size: 3em;
	}
	.weather-icon-02d:before {
		content: $day-cloudy;
		font-family: '#{$wi-font-family}';
		font-size: 3em;
	}
	.wi-day-cloudy-gusts:before {
		content: $day-cloudy-gusts;
		font-family: '#{$wi-font-family}';
		font-size: 3em;
	}
	.wi-day-cloudy-windy:before {
		content: $day-cloudy-windy;
		font-family: '#{$wi-font-family}';
		font-size: 3em;
	}
	.wi-day-fog:before {
		content: $day-fog;
		font-family: '#{$wi-font-family}';
		font-size: 3em;
	}
	.wi-day-hail:before {
		content: $day-hail;
		font-family: '#{$wi-font-family}';
		font-size: 3em;
	}
	.wi-day-haze:before {
		content: $day-haze;
		font-family: '#{$wi-font-family}';
		font-size: 3em;
	}
	.wi-day-lightning:before {
		content: $day-lightning;
			font-family: '#{$wi-font-family}';
			font-size: 3em;
	}
	.wi-day-rain:before {
		content: $day-rain;
		font-family: '#{$wi-font-family}';
		font-size: 3em;
	}
	.wi-day-rain-mix:before {
		content: $day-rain-mix;
		font-family: '#{$wi-font-family}';
		font-size: 3em;
	}
	.wi-day-rain-wind:before {
		content: $day-rain-wind;
		font-family: '#{$wi-font-family}';
		font-size: 3em;
	}
	.wi-day-showers:before {
		content: $day-showers;
		font-family: '#{$wi-font-family}';
		font-size: 3em;
	}
	.wi-day-sleet:before {
		content: $day-sleet;
		font-family: '#{$wi-font-family}';
		font-size: 3em;
	}
	.wi-day-sleet-storm:before {
		content: $day-sleet-storm;
		font-family: '#{$wi-font-family}';
		font-size: 3em;
	}
	.wi-day-snow:before {
		content: $day-snow;
		font-family: '#{$wi-font-family}';
		font-size: 3em;
	}
	.wi-day-snow-thunderstorm:before {
		content: $day-snow-thunderstorm;
		font-family: '#{$wi-font-family}';
		font-size: 3em;
	}
	.wi-day-snow-wind:before {
		content: $day-snow-wind;
		font-family: '#{$wi-font-family}';
		font-size: 3em;
	}
	.wi-day-sprinkle:before {
		content: $day-sprinkle;
		font-family: '#{$wi-font-family}';
		font-size: 3em;
	}
	.wi-day-storm-showers:before {
		content: $day-storm-showers;
		font-family: '#{$wi-font-family}';
		font-size: 3em;
	}
	.wi-day-sunny-overcast:before {
		content: $day-sunny-overcast;
		font-family: '#{$wi-font-family}';
		font-size: 3em;
	}
	.wi-day-thunderstorm:before {
		content: $day-thunderstorm;
		font-family: '#{$wi-font-family}';
		font-size: 3em;
	}
	.wi-day-windy:before {
		content: $day-windy;
		font-family: '#{$wi-font-family}';
		font-size: 3em;
	}
	.wi-solar-eclipse:before {
		content: $solar-eclipse;
		font-family: '#{$wi-font-family}';
		font-size: 3em;
	}
	.wi-hot:before {
		content: $hot;
		font-family: '#{$wi-font-family}';
		font-size: 3em;
	}
	.wi-day-cloudy-high:before {
		content: $day-cloudy-high;
		font-family: '#{$wi-font-family}';
		font-size: 3em;
	}
	.wi-day-light-wind:before {
		content: $day-light-wind;
		font-family: '#{$wi-font-family}';
		font-size: 3em;
	}