	.weather-icon-01d:before {
		content: $day-sunny;
		font-family: '#{$wi-font-family}';
		font-size: 3em;
	}
	.weather-icon-02d:before,
	.weather-icon-03d:before,
	.weather-icon-04d:before {
		content: $day-cloudy;
		font-family: '#{$wi-font-family}';
		font-size: 3em;
	}
	.weather-icon-09d:before,
	.weather-icon-10d:before{
		content: $day-rain;
		font-family: '#{$wi-font-family}';
		font-size: 3em;
	}
	.weather-icon-11d:before {
		content: $day-lightning;
			font-family: '#{$wi-font-family}';
			font-size: 3em;
	}
	.weather-icon-13d:before {
		content: $day-snow;
		font-family: '#{$wi-font-family}';
		font-size: 3em;
	}
	.weather-icon-50d:before {
		content: $day-fog;
		font-family: '#{$wi-font-family}';
		font-size: 3em;
	}