body {
  background-color: $seafoam;
}

#container {
  padding: 20px;
}

header {
  background-color: $aqua;
}

.title {
  border-bottom: 5px solid $aqua;
  color: $white;
  padding: 20px;
  font-weight: normal;
}
