
  .weather {

    &__widget {
      border: 1px solid $wave;
      border-radius: 3%;
      padding: 30px;
      background: $aqua;
      background: linear-gradient($wave, $aqua);
      width: 100%;
      display: block;
      margin: 0 auto;
    }

    &__icon {
      display: inline-block;
      margin: 0 auto;
      text-align: center;
    }

    &__information {
      color: $white;

      &__city-name {
        font-weight: normal;
        border-bottom: solid 1px $white;
        margin: 0;
        padding: 0 0 20px 0;
        font-size: 2em;
        text-align: left;
      }

      &__temperature {
        display: inline-block;
        width: 50%;
        font-size: 2em;
        text-align: center;
      }

      &__desc {
        display: inline-block;
        border-right: 1px solid $white;
        width: 50%;
        text-align: center;
        font-size: 1.5em;
      }

    }

  }


@media screen and (min-width: 670px) {

  .weather {

    &__widget {
      width: 60%;
    }

  }
}

@media screen and (min-width: 1200px) {

  .weather {

    &__widget {
      width: 50%;
    }

  }

}